
.vertical{
    border: none;
    border-left: 1px ;
    height:50vh;
    width: 0.5px;
    margin-left: 90vh;    
}
a{
    text-decoration: none;
    color: black;
}
.mx{
    margin-left: 76vh;
}

.fecha{
    margin-left: 35vh;
    border: white;
}
.boton{
    width: 182vh;
    size: 4vh;
    text-align: left;
    border-radius: 15px;
}
.tamaño{
    font-size: 3rem;
    opacity: 10%;
}
.mas{
  width: 35px;
   border: 2px solid blue;
   border-radius: 150%;
   text-align-last: center;
}